#profile-header {
    display:flex;
    justify-content:center;
    color: rgba(17,73,55,1.5);
    margin-top:5vh;
}


img {
    width:35vw;
    height:65vh;
    margin:3vh;
    margin-left:5vw;
}



