.component-profile {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Fredoka One";
}

.component-profile h1 {
    text-align: center;
    font-size: 40px;
}

.account {

    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.account-profile-img {
    flex: 1;
    width: 200px;
}

.account-profile-img img {
    border-radius: 50%;
    width: 150px;
}

.account-info {

    flex: 4;
    display: flex;
    margin-left: 5%;
    flex-direction: column;

}

.account-header {
    display: flex;
}

.account-header h1 {
    flex: 2;
    margin: 0px;
    text-align: center;
}

.account-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.account-options button {
    font-family: "Fredoka One";
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    margin: 5px;


}
.account-options button:hover{
    cursor: pointer;
}

.btn-edit {
    border: 1px solid lightgray;
    background-color: transparent;
    border-radius: 5px;
    color: black;
    font-size: 15px;
}

.btn-settings {
    border: none;
    background-color: transparent;
}
.btn-settings img{
    width: 32px;
}



