
h2 {
    padding-top:5vh;
    color: rgb(17, 73, 55);
    padding-left:44vw;
}

#category-link-1 {
    flex:1;
    margin-left:20vw;
    color:black;
    text-decoration:none;
}

#category-link-1:hover {
    text-decoration:underline;
}

#category-link-2 {
    flex:1;
    margin-left:22vw;
    color:black;
    text-decoration:none;

}

#category-link-2:hover {
    text-decoration:underline;
}

#border-link {
    display:flex;
    border: 1px solid black;
    padding:2.5vh;
    background-color: rgba(46, 139, 87,0.9);
    margin-top:4vh;
}

a:hover {
    text-decoration: underline;
}