.no-memes {
    margin-top: 100px;
    font-family: "Fredoka One";
}

.no-memes h1 {
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

#nomemes-cry {
    text-align: center;
    font-size: 80px;
}