.component-header {
    font-family: 'Fredoka One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(17, 73, 55);
    border-bottom: 1px solid lightgray;
    background-color: rgb(255, 255, 255);
}

.header-main-logo {
    flex: 1;
}

.header-main-search {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main-search form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main-search form input {
    width: 40%;
    max-width: 250px;
    padding: 3px 6px 3px 6px;
    background-color: white;
    border: 1px solid lightgray;
    font-size: 15px;
}

.header-main-logo img {
    width: 300px;
    height: auto
}

.component-header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-header nav div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    background-color: transparent;
    border: 0px;
}

.nav-button img {
    max-width: 28px;
}

.nav-button:hover {
    cursor: pointer;
}
.target {
    border-bottom: 1px solid grey;
}

