header {
    display:flex;
    /* margin-top:1.4vh;  */
    padding-left:3vw;
    color: rgb(17,73,55);
    font-family: 'Fredoka One',
    cursive;
    font-size:1.2rem;
    border:2px solid black;
    padding:2vh;
    background-color:rgb(255,255,255);
}

#logo-div {
    flex:1;
    margin-left:2vw;
}

#login-div {
    display:flex;
    flex:1;
    justify-content:flex-end;
    align-items:center;
}

#login-link {
    margin-right:2vw;
    border: 1px solid black;
    padding:2%;
    text-decoration: none;
    color:rgb(17,73,55);
    background-color:rgba(211,211,211,0.4); 

}
