.component-cards {
    font-family: Helvetica;
}

.meme-categories {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.meme-categories select {
    font-family: Helvetica;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
    border-radius: 5px;

}

.memes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
