
.upload-meme-section {
    font-family: 'Fredoka One';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.upload-meme-section button {

}

.open-modal-btn {
    font-family: 'Fredoka One';
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid black;
    color: rgb(17, 73, 55);
    background-color: rgba(211,211,211, .4);
}
.open-modal-btn:hover{
    cursor: pointer;
}
